<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProductDetailsUrl" value="http://nz.ingrammicro.com/_layouts/CommerceServer/IM/ProductDetails.aspx"/>
    <add key="UrlParams" value="?id=NZ01@@2320@@10@@"/>
    <add key="InputFileName" value="input.txt"/>
    <add key="OutputFileName" value="output.csv"/>
  </appSettings>
</configuration>