<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProductDetailsUrl" value="http://nz.ingrammicro.com/_layouts/CommerceServer/IM/ProductDetails.aspx"/>
    <add key="UrlParams" value="?id=NZ01@@2320@@10@@"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
